<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- App CSS -->
    <link rel="stylesheet" href="/styles/index.css" type="text/css" />

    <!-- Inbuilt Script -->
    <script>
      function myFunction() {
        var copyText = document.getElementById("myInput");
        console.log(copyText);
        copyText.select();
        copyText.setSelectionRange(0, 99999); /*For mobile devices*/
        /* Copy the text inside the text field */
        document.execCommand("copy");
        /* Alert the copied text */
        alert("Copied the text: " + copyText.value);
      }
    </script>
  </head>

  <header>
    <%- include('partials/_header') %>
  </header>

  <body>

      <br>
      <h3>My Quiz List</h3>
      <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Category</th>
          <th scope="col">Created On</th>
          <th scope="col">Is_Public</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
          <th scope="col">Copy Link</th>
        </tr>
      </thead>
      <tbody>
        <% for(let item in quizObj) { %>
        <tr id="row">
          <td><%= quizObj[item].name %></td>
          <td><%= quizObj[item].category %></td>
          <td><%= quizObj[item].date %></td>
          <td><%= quizObj[item].active %></td>
          <td>
            <form method="GET" action="/">
                <button type="submit" class="btn btn-outline-primary">Edit</button>
            </form>
          </td>
          <td>
            <form method="POST" action="/myList/<%= quizObj[item].quizId %>/delete">
                <button type="submit" class="btn btn-outline-danger">Delete</button>
            </form>
          </td>
          <td>
            <div>
            <div id="copy-link">
              <input type="text" value=<%= quizObj[item].link %> Id="myInput">
               <button onclick="myFunction()">Copy</button>
            </div>
          </div>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </main>
  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>
</html>
